<div class="container">
  <h2>Les Jeux Olympiques de Paris 2024</h2>
  <hr>
  <p>
    Les Jeux olympiques d'été de 2024, officiellement appelés les Jeux de la
    XXXIIIe olympiade, sont prévus du 26 juillet au 11 août 2024 à Paris, en
    France. La capitale française a été élue ville hôte le 13 septembre 2017
    lors de la 131e session du Comité international olympique à Lima, au Pérou.
    Il s'agira de la troisième fois que Paris accueillera les Jeux olympiques,
    après 1900 et 1924.
  </p>
  <hr>
  <div class="card-deck">
    <div class="card" style="width: 18rem">
      <img
        src="https://badmania.fr/images/news2023/news_jo_2024.jpg"
        class="card-img-top"
        alt="img"
      />
      <div class="card-body">
        <h5 class="card-title">Les qualifications</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="/add-ticket" class="btn btn-outline-secondary"
          >Réserver votre billet</a
        >
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="https://la1ere.francetvinfo.fr/image/6NDDxyIKgiAB5fKST8ptg6-O89M/600x400/outremer/2024/01/05/modele-brouillon-40-6597da849f044851928808.jpg"
        class="card-img-top"
        alt="img"
      />
      <div class="card-body">
        <h5 class="card-title">Des billets pour tous les événementss</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="/add-ticket" class="btn btn-outline-secondary"
          >Réserver votre billet</a
        >
      </div>
    </div>
    <div class="card" style ="width: 18rem">
      <img
        src="https://www.sports.gouv.fr/sites/default/files/2023-06/jo-paris-2024-6911.jpg"
        class="card-img-top"
        alt="img"
      />
      <div class="card-body">
        <h5 class="card-title">La cérémonie d'ouverture</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="/add-ticket" class="btn btn-outline-secondary"
          >Réserver votre billet</a
        >
      </div>
    </div>
  </div>
</div>
