<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
    <img
      src="https://img.lemde.fr/2019/10/21/0/0/2954/2954/664/0/75/0/4720a24_xOn_i9bVmi4i4W6jPJrSzUxM.png"
      alt="Logo"
      style="width: 110px"
    />
  </a>
  <a class="navbar-brand" routerLink="/home">Billetterie des Jeux Olympiques</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/offers">Les offres proposées</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbardrop"
        data-toggle="dropdown"
      >
        Réservations
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/add-ticket">Faire une réservation</a>
        <a class="dropdown-item" routerLink="/tickets">Liste des e-tickets</a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a
      
        class="nav-link dropdown-toggle"
        style="color: white"
        href="#"
        id="navbardrop"
        data-toggle="dropdown"
      >
       Administration de l'application
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/add-offer">Ajout d'une offre</a>
        <a class="dropdown-item" routerLink="/tickoff">Recherche par type d'offre</a>
      </div>
    </li>
  </ul>   
  <ul class="navbar-nav ml-auto">
    <li> <a class="nav-link">{{authService.loggedUser}}</a></li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="navbardrop"
        data-toggle="dropdown"
      >
        Connexion
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/login">login</a>
        <a class="dropdown-item" href="#"(click)="logout()">logout</a>
        <a class="dropdown-item" href="#">Profile</a>
      </div>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
